* {
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: Roboto, sans-serif;
  margin: 20px;
}

.first-page {
  display: block;
  /*display: grid;*/
  /*grid-template-columns: 2fr 1fr;*/
}

.first-page .side {
  float: right;
}

/* Clear floats after the columns */
.first-page::after {
  content: "";
  clear: both;
  display: table;
}

.main {
  padding: 20px 20px 0 60px;
}

.side section.content {
  background: #efefef;
  padding: 20px;
  margin: 0 20px 18px;
}

h1, h2 {
  color: #ff7f50;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
}

.item {
  margin-top: 10px;
}

p {
  margin: 0;
}

#name {
  font-size: 40px;
  margin-bottom: 0;
}

#position {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  margin-top: 0;
}

#main-photo {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-bottom: 16px;
}

#photo-section {
  text-align: center;
}

.year {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  margin-top: 0;
  padding-left: 20px;
}

.company {
  color: dimgrey;
  font-weight: bold;
  text-transform: uppercase;
}

.columns {
  display: grid;
}

.columns.first {
  grid-template-columns: 1fr 3fr;
}

.columns.second {
  grid-template-columns: 1fr 3fr 2fr;
}

.project {
  font-weight: bold;
}

section {
  padding-bottom: 20px;
}

.first-page {
  page-break-after: auto;
}

.side, .item {
  break-inside: avoid;
}

.material-icons.md-small {
  font-size: 14px;
  vertical-align: middle;
}

.svg-icon {
  height: 12px;
  vertical-align: middle;
}

@media print {
  body {
    background-color: #FFF;
    background-image: none;
    color: #000;
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 1.0;
    font-size: 15px;
  }

  .main {
    padding: 20px;
  }

}
